.t-contents
  = image_tag "book.jpeg",width:"100%",height:"810px"
  .t-content
    .t-content__title
      %h1 ようこそ
    .t-content__text
      %a あなたのライブラリを作れます
    .t-content__text
      %a あなたのことが知りたいのでおしえて頂けますか？
    .t-btm
      .t-btm__a
        = link_to new_user_session_path do
          ログイン
      .t-btm__a
        = link_to new_user_registration_path do
          新規会員登録