.s-contents
  = image_tag "book3.jpeg",width:"100%",height:"800"
  .s-content
    .s-content__title
      = "#{current_user.nickname}さんようこそ、あなたのライブラリです。"
    .s-content__box
      #twitter
        - unless @library.twitter != 1
          %i.fab.fa-twitter
      #line
        - unless @library.line != 1
          %i.fab.fa-line
      #instagram
        - unless @library.instagram != 1
          %i.fab.fa-instagram
      #discord
        - unless @library.discord != 1
          %i.fab.fa-discord
      #steam
        - unless @library.steam != 1
          %i.fab.fa-steam
      #skype
        - unless @library.skype != 1
          %i.fab.fa-skype
    .s-content__btm
      .s-content__box--btn
        = link_to edit_application_path(@library.id) do
          %button.btn
            編集する