.n-content{
  position: absolute;
  top:0;
  right:0;
  left:0;
  bottom: 0;
  &__title{
    padding-top: 50px;
    font-size: 40px;
    color: white;
    text-align: center;
  }
  &__box{
    margin-top: 100px;
    display: flex;
    background-color: white;
    font-size: 80px;
    justify-content: space-evenly;
    border: 2px solid #59b1eb;
    label{
    .twitter{
      .fa-twitter{
        color: #1E90FF;
      }

      &:hover {
        cursor: pointer;
      }
    }
    .line{
      .fa-line{
        color: #32CD32;
      }

      &:hover {
        cursor: pointer;
      }
    }
    .instagram{
      .fa-instagram{
        color: magenta;
      }

      &:hover {
        cursor: pointer;
      }
    }
    .discord{
      .fa-discord{
        color: #6A5ACD;
      }

      &:hover {
        cursor: pointer;
      }
    }
    .steam{
      .fa-steam{
        color: #000011;
      }

      &:hover {
        cursor: pointer;
      }
    }
    .skype{
      
      .fa-skype{
        color: #00FFFF;
      }

      &:hover {
        cursor: pointer;
      }
    }
    input{
      display: none;
    }
  }
  // &active{
  //   -webkit-box-shadow:
  //   0 0 0 15px #fff,
  //   0 0 0 18px green;
  //   -moz-box-shadow:
  //       0 0 0 15px #fff,
  //   0 0 0 18px green;
  //   box-shadow:
  //       0 0 0 15px #fff,
  //   0 0 0 18px green;
  // }
}
  &__btm{
    padding-top: 100px;
    text-align: center;
    .btm{
      font-size: 30px;
      border-radius: 30px;
      padding: 5px 20px 5px;
      color: #59b1eb;
      border: 2px solid #59b1eb;
    }
    .btm:hover{
      box-shadow: 0 10px 15px -5px rgba(0,0,0,.15),0 0 5px rgba(0,0,0,.1);
      transform: translateY(-3px);
      transition: 0.3s;
    }
    a{
      font-size: 30px;
      color: white;
      text-decoration: none;
      border-radius: 30px;
      padding: 10px 20px 10px;
      border: 2px solid #fff;
      line-height: 50px;
    }
    a:hover {
      background-color: #fff;
      border-color: #59b1eb;
      color: #59b1eb;
      box-shadow: 0 10px 15px -5px rgba(0,0,0,.15),0 0 5px rgba(0,0,0,.1);
      transform: translateY(-3px);
      transition: 0.3s;
    }
  }
}
