.signupss{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}
.signups{
  position: absolute;
  top: 10%;
  left: 34%;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: white 1px 0 5px;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
  
}
#close-modal1{
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  color: white;
}

.signup{
  &__name{
    padding-top: 10px;
    color: white;
    font-size: 60px;
    text-shadow: white 1px 0 5px;
  }
  &__field{
    padding-top: 10px;
    color: white;
    text-shadow: white 1px 0 5px;
    font-size: 20px;
    input{
      border-radius: 10px;
    }
  }
  &__actions{
    padding-top: 20px;
    padding-bottom: 20px;
    input{
      font-size: 30px;
      border-radius: 30px;
      padding: 5px 20px 5px;
      color: #59b1eb;
      border: 2px solid #59b1eb;
    }
    input:hover{
      box-shadow: 0 10px 15px -5px rgba(0,0,0,.15),0 0 5px rgba(0,0,0,.1);
      transform: translateY(-3px);
      transition: 0.3s;
    }
  }
  a{
    color: white;
    text-shadow: black 1px 0 5px;
  }
}